<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OreoOrChocopie</title>
    <link rel="icon" href="static/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="static/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="static/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/gijgo.min.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="static/css/all.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <%- include('partical/header'); %>

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Về Chúng Tôi</h2>
                            <p>Trang Chủ <span class="ti-angle-double-right"></span>Về Chúng Tôi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- about part start-->
    <section class="about_part single_about_padding">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-4 col-lg-6">
                    <div class="about_img ">
                        <img src="static/img/about_us_1.png" class="about_img_1" alt="">
                        <img src="static/img/about_us_2.png" class="about_img_2" alt="">
                        <img src="static/img/about_us_3.png" class="about_img_3" alt="">
                    </div>
                </div>
                <div class="col-md-7 offset-md-1 col-lg-3 offset-lg-1">
                    <div class="about_text">
                        <h5>Về Chúng Tôi</h5>
                        <h2>Phong cách</h2>
                        <p>Với hơn 25 năm kinh nghiệm trong ngành tạo mẫu tóc, Với các bậc thầy trong việc biến ý tưởng thành hiện thực. 
                            Từng tốt nghiệp từ những học viện danh tiếng và thường xuyên tham gia các khóa học nâng cao, chúng tôi luôn cập nhật những xu hướng mới nhất, 
                            đem lại cho khách hàng những kiểu tóc thời thượng và phù hợp nhất. 
                        </p>
                        <p>Mỗi thành viên trong đội ngũ của chúng tôi đều mang đến giá trị riêng, nhưng tất cả đều chung một mục tiêu:
                             tạo ra mái tóc đẹp và phù hợp nhất cho khách hàng. 
                            Hãy đến và trải nghiệm sự chuyên nghiệp và tận tâm của chúng tôi tại Oreo or Chocopie!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--:: about part end ::-->

    <!--::review_part start::-->
    <section class="review_part gray_bg section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="client_review_part owl-carousel">
                        <div class="client_review_single">
                            <img src="static/img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text">
                                <p>Also made from. Give may saying meat there from heaven it lights face had is gathered
                                    god dea earth light for life may itself shall whales made they're blessed whales
                                    also made from give
                                    may saying meat. There from heaven it lights face had amazing place</p>
                            </div>
                            <div class="client_img">
                                <img src="static/img/client/client_1.png" alt="">
                            </div>
                            <h4>Mosan Cameron, <span>Executive of fedex</span></h4>
                        </div>
                        <div class="client_review_single">
                            <img src="static/img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text media-body">
                                <p>Also made from. Give may saying meat there from heaven it lights face had is gathered
                                    god dea earth light for life may itself shall whales made they're blessed whales
                                    also made from give
                                    may saying meat. There from heaven it lights face had amazing place</p>
                            </div>
                            <div class="client_img">
                                <img src="static/img/client/client_1.png" alt="">
                            </div>
                            <h4>Mosan Cameron, <span>Executive of fedex</span></h4>
                        </div>
                        <div class="client_review_single">
                            <img src="static/img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text">
                                <p>Also made from. Give may saying meat there from heaven it lights face had is gathered
                                    god dea earth light for life may itself shall whales made they're blessed whales
                                    also made from give
                                    may saying meat. There from heaven it lights face had amazing place</p>
                            </div>
                            <div class="client_img">
                                <img src="static/img/client/client_1.png" alt="">
                            </div>
                            <h4>Mosan Cameron, <span>Executive of fedex</span></h4>
                        </div>
                        <div class="client_review_single">
                            <img src="static/img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text">
                                <p>Also made from. Give may saying meat there from heaven it lights face had is gathered
                                    god dea earth light for life may itself shall whales made they're blessed whales
                                    also made from give
                                    may saying meat. There from heaven it lights face had amazing place</p>
                            </div>
                            <div class="client_img">
                                <img src="static/img/client/client_1.png" alt="">
                            </div>
                            <h4>Mosan Cameron, <span>Executive of fedex</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::review_part end::-->
    <%- include('partical/footer'); %>
    <!-- jquery plugins here-->
    
    <script src="public/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="public/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="public/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="public/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="public/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="public/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="public/js/owl.carousel.min.js"></script>
    <!-- swiper js -->
    <script src="public/js/slick.min.js"></script>
    <script src="public/js/gijgo.min.js"></script>
    <script src="public/js/jquery.nice-select.min.js"></script>
    <!-- contact js -->
    <script src="public/js/jquery.ajaxchimp.min.js"></script>
    <script src="public/js/jquery.form.js"></script>
    <script src="public/js/jquery.validate.min.js"></script>
    <script src="public/js/mail-script.js"></script>
    <script src="public/js/contact.js"></script>
    <!-- custom js -->
    <script src="public/js/custom.js"></script>
</body>

</html>