<!doctype html>
<html lang="vi">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OreoOrChocopie</title>
    <link rel="icon" href="static/img/favicon.png">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <%- include('partical/header'); %>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Chi Tiết Dịch Vụ</h2>
                            <p>Trang Chủ <span class="ti-angle-double-right"></span>Chi Tiết Dịch Vụ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- breadcrumb end-->

        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f9f9f9;
                margin: 0;
                /* padding: 20px; */
            }

            .container {
                max-width: 1200px;
                margin: auto;
                text-align: center;
            }

            h1 {
                margin-bottom: 20px;
            }

            .services {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 20px;
            }

            .service {
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                transition: transform 0.3s;
            }

            .service:hover {
                transform: scale(1.05);
            }

            .service img {
                width: 50px;
                height: 60px;
            }

            .service h2 {
                margin: 10px 0;
            }

            .book-now {
                margin-top: 30px;
                padding: 15px 30px;
                background-color: #f62a2a;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
            }

            .book-now:hover {
                background-color: #f62a2a;
            }

            .active-filter-btn {
                background-color: var(--pink) !important;
                color: #fff !important;
                border-color: var(--pink) !important;
            }

            .filter-button-group .btn:hover {
                color: #fff !important;
            }

           
            .service-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center; 
}
.service-item img {
    width: 100%; 
    height: 180px; 
    object-fit: cover; 
    border-bottom: 1px solid #ddd;
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}
.service-item img:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); 
}
.text-primary{
    color: red;
}
.service-title{
    text-align: center;
}
        </style>

<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-lg-6 col-sm-10">
            <div class="section_tittle">
                <img src="static/img/section_tittle_icon.png" alt="icon">
                <h2>DỊCH VỤ LÀM TÓC</h2>
                <p>Trải nghiệm các phong cách dành riêng cho phái mạnh, vừa tiện lợi vừa thư giãn tại đây.</p>
            </div>
        </div>
    </div>
    <!-- Phần dịch vụ Cắt tóc -->
    <div class="container text-left my-5">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Cắt Tóc</h1>
            <div>
                <h5>150.000 VNĐ</h5>
                <h5>Thời gian: 30 phút</h5>
            </div>  
        </div>
        <div class="row cattoc-row">
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/massage.png" alt="Massage mặt">
                    <p class="service-title">Massage mặt</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/haphoahong.png" alt="Phun hoa hồng">
                    <p class="service-title">Phun hoa hồng</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/hapkhan.png" alt="Hấp khăn">
                    <p class="service-title">Hấp khăn</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/dapmatna.png" alt="Đắp mặt nạ">
                    <p class="service-title">Đắp mặt nạ</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/goidau.png" alt="Gội đầu & Massage đầu">
                    <p class="service-title">Gội đầu & Massage đầu</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/caorau.png" alt="Cạo râu">
                    <p class="service-title">Cạo râu</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/cattoc.png" alt="Cắt tóc">
                    <p class="service-title">Cắt tóc</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/taokieu.png" alt="Tạo kiểu">
                    <p class="service-title">Tạo kiểu</p>
                </div>
            </div>
        </div>
        <!-- Nút đặt lịch -->
        <div class="text-center">
            <a href="/booking" class="book-now">ĐẶT LỊCH NGAY</a>
        </div>        
    </div>

    <!-- Phần dịch vụ Uốn tóc -->
    <div class="container text-left my-5">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Uốn Tóc</h1>
            <div>
                <h5>399.000 VNĐ</h5>
                <h5>Thời gian: 60 phút</h5>
            </div>
        </div>
        <div class="row uontoc-row">
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/massage.png" alt="Massage mặt">
                    <p class="service-title">Massage mặt</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/haphoahong.png" alt="Phun hoa hồng">
                    <p class="service-title">Phun hoa hồng</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/hapkhan.png" alt="Hấp khăn">
                    <p class="service-title">Hấp khăn</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/dapmatna1.png" alt="Đắp mặt nạ than tre">
                    <p class="service-title">Đắp mặt nạ than tre</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/goidau.png" alt="Gội đầu & Massage đầu">
                    <p class="service-title">Gội đầu & Massage đầu</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/caorau.png" alt="Cạo râu">
                    <p class="service-title">Cạo râu</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/uontoc.png" alt="Uốn tóc">
                    <p class="service-title">Uốn tóc</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/taokieu.png" alt="Tạo kiểu">
                    <p class="service-title">Tạo kiểu</p>
                </div>
            </div>
        </div>
        <!-- Nút đặt lịch -->
        <div class="text-center">
            <a href="/booking" class="book-now">ĐẶT LỊCH NGAY</a>
        </div>        
    </div>

    <!-- Phần dịch vụ Nhuộm tóc -->
    <div class="container text-left my-5">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Nhuộm Tóc</h1>
            <div>
                <h5>700.000 VNĐ</h5>
                <h5>Thời gian: 90 phút</h5>
            </div>
        </div>
        <div class="row nhuomtoc-row">
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/massage.png" alt="Massage mặt">
                    <p class="service-title">Massage mặt</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/haphoahong.png" alt="Phun hoa hồng">
                    <p class="service-title">Phun hoa hồng</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/hapkhan.png" alt="Hấp khăn">
                    <p class="service-title">Hấp khăn</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/dapmatna.png" alt="Đắp mặt nạ">
                    <p class="service-title">Đắp mặt nạ</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/goidau.png" alt="Gội đầu & Massage đầu">
                    <p class="service-title">Gội đầu & Massage đầu</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/caorau.png" alt="Cạo râu">
                    <p class="service-title">Cạo râu</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/chonmau.png" alt="Chọn màu">
                    <p class="service-title">Chọn màu</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/nhuomtoc.png" alt="Nhuộm tóc">
                    <p class="service-title">Nhuộm tóc</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/taokieu1.png" alt="Tạo kiểu">
                    <p class="service-title">Tạo kiểu</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/phucvunuoc.png" alt="Phục vụ nước">
                    <p class="service-title">Phục vụ nước</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/goidau.png" alt="Gội đầu lần hai">
                    <p class="service-title">Gội đầu lần hai</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="service-item">
                    <img src="static/img/waxlong.png" alt="Wax sạch">
                    <p class="service-title">Wax sạch</p>
                </div>
            </div>
        </div>
        <!-- Nút đặt lịch -->
        <div class="text-center">
            <a href="/booking" class="book-now">ĐẶT LỊCH NGAY</a>
        </div>        
    </div>
</div>


     <!--::footer part start::-->
     <%- include('partical/footer'); %>
     <!--::footer part end::-->
 
     <!-- jquery plugins here-->
     <script src="public/js/jquery-1.12.1.min.js"></script>
     <script src="public/js/bootstrap.min.js"></script>
     <script src="public/js/custom.js"></script>
</body>

</html>
