<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <!-- Quản lý, hiển thị các mục con sẵn -->
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="bi bi-journal-text"></i>
        <span>Quản Lý</span>
      </a>
      <ul class="nav-content">
        <li>
          <a href="/admin/customers">
            <i class="bi bi-circle"></i><span>Quản lý thông tin khách hàng</span>
          </a>
        </li>
        <li>
          <a href="/admin/staffs">
            <i class="bi bi-circle"></i><span>Quản lý nhân viên</span>
          </a>
        </li>
        <li>
          <a href="/admin/services-manage">
            <i class="bi bi-circle"></i><span>Quản lý dịch vụ</span>
          </a>
        </li>
      </ul>
    </li><!-- End Quản lý -->

    <!-- Phần nhân viên -->
    <li class="nav-item">
      <a class="nav-link" href="/admin/work-schedules">
        <i class="bi bi-person"></i>
        <span>Lịch làm</span>
      </a>
    </li><!-- End Lịch làm -->
  </ul>
</aside><!-- End Sidebar -->