<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-4 col-sm-6 col-lg-4">
                <div class="single-footer-widget footer_1">
                    <h4>Về Chúng Tôi</h4>
                    <p>Bạn có muốn thành công hơn nữa không? Học cách yêu thích học tập và phát triển. 
                        Bạn càng nỗ lực cải thiện kỹ năng của mình, phần thưởng bạn sẽ nhận được càng lớn. Nhận ra rằng mọi thứ </p>
                    <p class="mt-3">Bạn càng nỗ lực để cải thiện kỹ năng của mình, thì bây giờ vẫn còn lớn</p>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-lg-4">
                <div class="single-footer-widget footer_2">
                    <h4>Thông tin liên lạc</h4>
                    <div class="contact_info">
                        <span class="ti-home"></span>
                        <h5>Phong Xích Lan, Tp.HCM</h5>
                        <p>82 Phong Xích Lan, quận Phú Nhuận, Tp.HCM</p>
                    </div>
                    <div class="contact_info">
                        <span class="ti-headphone-alt"></span>
                        <h5>028.5404.2829</h5>
                        <p>Thứ Hai - Chủ Nhật . 9am - 7pm</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-8 col-lg-4">
                <div class="single-footer-widget footer_3">
                    <h4>Tin tức</h4>
                    <p>Luôn cập nhật các xu hướng mới nhất của chúng tôi. Bạn càng nỗ lực cải thiện kỹ năng của mình, phần thưởng bạn sẽ nhận ra điều đó càng lớn.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_part">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="footer-text m-0">
                        Bản quyền &copy;<script>document.write(new Date().getFullYear());</script> Đã đăng ký Bản quyền | Mẫu này được thực hiện bởi Oreo or Chocopie
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>