<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <!-- Lịch làm, dẫn đến localhost:3000/admin -->
    <li class="nav-item">
      <a class="nav-link" href="/staff">
        <i class="bi bi-grid"></i>
        <span>Lịch làm việc</span>
      </a>
    </li><!-- End Lịch làm -->

    <!-- Lịch hẹn, hiển thị các mục con sẵn -->
    <li class="nav-item">
      <a class="nav-link" href="/staff/appointment">
        <i class="bi bi-journal-text"></i>
        <span>Lịch hẹn của tôi</span>
      </a>
    </li>
  </ul>
</aside><!-- End Sidebar -->
